<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/fonts/Lato/Lato-Regular.ttf">
    <link rel="icon" href="/images/favicon.png">
    {{ style('bower_components/semantic/dist/semantic.css') }}
    {{ style('/css/style.css')}}
    {{ style('/css/responsive-semantic-ui.css')}}
    @!section('additionalHead')
  </head>
  <body>
    {{-- navigation --}}
    <nav class="ui blue inverted labeled icon mobile hidden menu">
      <a class="item" href="/"><img class="ui mini image" src="/images/menu-logo.png" alt="Logo du site de  CoopWork"></a>
      <a class="item" href="/"><i class="home icon"></i>Accueil</a>
      @if(auth.user.is_admin)
      <a class="item" href="/admin/book"><i class="calendar alternate outline icon"></i>Réserver</a>
      @endif
      @if(!auth.user.is_admin)
      <a class="item" href="/book"><i class="calendar alternate outline icon"></i>Réserver</a>
      @endif
      <a class="item" href="/news"><i class="newspaper outline icon"></i>Actualités</a>
      <a class="item" href="/contact"><i class="phone square icon"></i>Contact</a>
      <div class="right menu">
        @loggedIn
        @if(auth.user.is_admin)
        <div class="ui dropdown item">
          <i class="user secret icon"></i>
          Admin
          <div class="menu">
            <a class="item" href="/admin/schedule"><i class="calendar alternate outline icon"></i> Planning</a>
            <a class="item" href="/admin/bookings"><i class="list ul icon"></i> Réservations</a>
            <a class="item" href="/admin/users"><i class="users icon"></i> Utilisateurs</a>
            <a class="item" href="/posts"><i class="list icon"></i> Posts</a>
          </div>
        </div>
        @else
        <a class="item" href="/profile"><i class="user icon"></i>{{ auth.user.firstname }} {{ auth.user.lastname }}</a>
        @endif
        <a class="item" href="/logout"><i class="sign out icon"></i>Déconnexion</a>
        @else
        <a class="item" href="/register"><i class="pencil alternate icon"></i>S'inscrire</a>
        <a class="item" href="/login"><i class="sign in icon"></i>Se connecter</a>
        @endloggedIn
      </div>
    </nav>
    <button class="ui mobile only massive icon button" id="toggle-button"><i class="bars icon"></i></button>
    <div class="ui mobile only left vertical blue inverted sidebar labeled icon menu">
      <a class="item" href="/"><img class="ui tiny image" src="/images/menu-logo.png" alt="Logo du site de  CoopWork"></a>
      <a class="item" href="/"><i class="home icon"></i>Accueil</a>
      @if(auth.user.is_admin)
      <a class="item" href="/admin/book"><i class="calendar alternate outline icon"></i>Réserver</a>
      @else
      <a class="item" href="/book"><i class="calendar alternate outline icon"></i>Réserver</a>
      @endif
      <a class="item" href="/news"><i class="newspaper outline icon"></i>Actualités</a>
      <a class="item" href="/contact"><i class="phone square icon"></i>Contact</a>
      @loggedIn
      @if(auth.user.is_admin)
      <a class="item" href="/admin/schedule"><i class="calendar alternate outline icon"></i>Planning</a>
      <a class="item" href="/admin/users"><i class="users icon"></i>Utilisateurs</a>
      <a class="item" href="/posts"><i class="list icon"></i>Posts</a>
      @else
      <a class="item" href="/profile"><i class="user icon"></i>{{ auth.user.firstname }} {{ auth.user.lastname }}</a>
      @endif
      <a class="item" href="/logout"><i class="sign out icon"></i>Déconnexion</a>
      @else
      <a class="item" href="/register"><i class="pencil alternate icon"></i>S'inscrire</a>
      <a class="item" href="/login"><i class="sign in icon"></i>Se connecter</a>
      @endloggedIn
    </div>
    {{-- content --}}
    <div class="ui container">
      @!section('content')
    </div>

    {{ script('bower_components/jquery/dist/jquery.js') }}
    {{ script('bower_components/semantic/dist/semantic.js') }}
    @!section('additionalScript')
    {{ script('js/main.js') }}
  </body>
</html>
