      <div class="ui center aligned vertical inverted footer segment">
        <div class="ui horizontal inverted divided link list">
          <a href="#" class="item">Aaa</a>
          <a href="#" class="item">Bbb</a>
          <a href="#" class="item">Ccc</a>
        </div>
        <p class="ui container">
          &copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear())</script>, CoopConnexion.
        </p>
      </div>
